<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://media-exp1.licdn.com/dms/image/C5603AQHnJCS9PuIvtA/profile-displayphoto-shrink_200_200/0/1517069342825?e=1613001600&v=beta&t=GBD9KloW7jgPrFl6AKb370Iixr1sMZz1jyNh8XNinJw" alt="GuiMeloDev">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Gui Melo</h5>
      <p class="card-text text-center text-monospace">Estudante de desenvolvimento em desenvolvimento.</p>

      <a href="https://www.linkedin.com/in/guilherme-faria-de-melo/" class="btn btn-outline-info d-flex justify-content-center mb-3 p-3" target="_blank">Linkedin</a>

      <a href="https://github.com/Guifamelo" class="btn btn-outline-dark d-flex justify-content-center p-3" target="_blank">Github</a>

    </div>
  </div>
