.parallax{
    background-image: url('https://media.bitdegree.org/storage/media/images/2018/11/What-Is-A-Full-Stack-Developer-and-Everything-You-Need-to-Know-to-Start.jpg');

    min-height: 500px;
    background-attachment: fixed;
    background-position: 'center';
    background-repeat: no-repeat;
    background-size: cover; 
}
.parallax2{
    background-image: url('https://i.pinimg.com/originals/97/49/7d/97497dc64fc934b2d7f8571e820e1b9c.png');

    min-height: 3 00px;
    background-attachment: fixed;
    background-position: 'center';
    background-repeat: no-repeat;
    background-size: cover; 
}